<%- include("header") -%>
  <div id="heading" class="box">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
    <% for (let i = 0; i < task.length; i++) { %>
      <div class="item">
        <input type="checkbox"> 
        <p><%= task[i] %></p>
      </div>
  <%}%>

  <form class="item" action='/' method="POST">
    <input type="text" name="task" placeholder="New Task" autocomplete="off"></input>
    <button type="submit" name="list" value=<%= listTitle %>>+</button>
  </form>
  
  </div>
<%- include("footer") -%>
